@CHARSET "UTF-8";

body {
	background-color: gray;
	font-family: Lucida Console;
}

#page{	
	margin: auto;
	width: 80%; 
}

#mainMenu{
	margin: auto;
	width:100%;
	background-color:black;
	box-shadow: 5px 5px 5px grey;
}

#mainMenu ul li{
	display:inline-block;
	font-size:100%;
	padding:1%;
}	

#mainMenu ul li:HOVER{
	color: grey;
	background-color:grey;
}

#newsContainer{
	width:20%;
	min-height:40px;
	float:right;
	background-color:gray;
	margin: 20px 10px;
}

#newsContainer .newsItem{
	margin:10px;
	background-color:gray;
	padding:5px;
	font-size:15px;
}

#newsContainer .newsItem .newsTitle{
	margin:auto;
	background-color:black;
	padding:5px;
	float:auto;	
	font-size:20px;
	color:white;
}

div.gameimg {
    margin: 5%;    
    border: 1px solid #ccc;
    width: 70%;
}

div.gameimg:hover {
    border: 1px solid #777;
}

div.gameimg img {
    width: 100%;
    float: center;
    height: auto;
}

div.charimg {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 250px;
}	

div.charimg:hover {
    border: 1px solid #777;
}

div.charimg img {
    width: 100%;
    height: auto;
}

div.chardesc {
    padding: 15px;
    height: 100px;
    text-align: center;
}